<div class="container">
    <button *ngIf="searchContainer.style.display !== 'none'" class="info" (click)="searchContainer.style.display='none'">Hide
        POI</button>
    <button *ngIf="searchContainer.style.display === 'none'" class="info" (click)="searchContainer.style.display='flex'">Show
        POI</button>
    <button pButton *ngIf="poiSource.getShapes()?.length" class="info" (click)="clearMarkers()">Clear markers</button>
    <button pButton *ngIf="!!route" class="info" (click)="searchAlongRoute()">Search along route</button>

    <div #searchContainer class="search-container">
        <form [formGroup]="form" id="inputs">
            <app-search-input formControlName="start" placeholder="Mark nearby POI" (addMarker)="addPosition($event)">
            </app-search-input>
            <span formArrayName="inter">
                <div *ngFor="let item of formControls.controls" [formGroupName]="item.value.i">
                    <app-search-input [frmGrp]="item" formControlName="input" placeholder="Mark nearby POI"
                        (addMarker)="addPosition($event)">
                    </app-search-input>
                </div>
            </span>
        </form>
    </div>
</div>